@model IEnumerable<News>
@{
    ViewData["Title"] = "liste News";
}
<p>
    <a asp-controller="AdministrationNews" asp-action="Create">Nouvelle News</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                Date de Publication
            </th>
            <th>
                Id Uploader
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublication)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-controller="AdministrationNews" asp-action="Edit" asp-route-id="@item.Id">Editer</a>
                </td>
                <td>
                    <form asp-controller="AdministrationNews" asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span>Etes vous certain de vouloir supprimer cette news ?</span>
                            <button type="submit" class="btn btn-danger">Oui</button>
                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.Id',false)">Non</a>
                        </span>

                        <span id="deleteSpan_@item.Id">
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@item.Id',true)"><i class="fa fa-trash"> Supprimer</i></a>
                        </span>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    Cliquez <a class="PostLogoutRedirectUri text-center" asp-controller="home" asp-action="index">ici</a> afin de retourner sur le site Web.
</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
    <script type="text/javascript" data-my_var_1="@TempData["Message"]" src="/js/Toastr.js"></script>
}
